<div class="row">
  <div class="col-md-8 col-xs-12 col-md-offset-2">
    <div class="form-group">
      <label>Account Name</label>
      <input type="text" class="form-control" #inputName>
    </div>
    <div class="form-group">
      <select class="form-control" #status>
         <option value='active'>Active</option>
         <option value='inactive'>Inactive</option>
         <option value='hidden'>Hidden</option>
      </select>
    </div>
    <button class="btn btn-primary"
     (click)="onNewAccountCreated(inputName.value, status.value)">Add Account</button>
  </div>
</div>
