<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-8">
      <app-new-account (accountAdded)="onAccountAdded($event)"></app-new-account>
      <hr>
      <app-account
      *ngFor="let acc of accounts; let i = index"
      [account]="acc"
      [id]="i"
      (statusChanged)="onStatusChanged($event)"></app-account>
    </div>
  </div>
</div>
