<div style="border: 1px solid black">
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h5> {{ account.name }}</h5>
      <hr>
      <p>The account is {{ account.statusN }}</p>
      <button class="btn btn-default" (click)="onsetTo('active')">Set to active</button>
      <button class="btn btn-default" (click)="onsetTo('inactive')">Set to inactive</button>
      <button class="btn btn-default" (click)="onsetTo('unknown')">Set to Unknown</button>

    </div>
  </div>
</div>
